.veiculo {
  padding: 16px 8px;
  margin: 5px;
  width: 720px;
  height: fit-content;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
}

.veiculo img {
  width: 100px;
  height: auto;
  object-fit: fill;
}

.title {
  font-weight: bold;
  color: #379849;
  font-size: 14px;
  letter-spacing: 0.35px;
  text-align: center;
}

.modelo {
  font-size: 1.05rem;
  font-weight: bold;
}

.valorHora {
  font-size: 1.125rem;
  color: #0f62fe;
}

.valorHora span {
  font-size: 1rem;
  color: #8d8d8d;
}

.veiculoDados {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.veiculoMeta > div {
  width: 100%;
}

.veiculoMeta span {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: 0.85em;
  margin-bottom: 0.5em;
}

.button {
  text-align: right;
}

.veiculoMeta {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 720px) {
  .veiculo,
  .veiculoMeta {
    flex-direction: row;
  }
}
