.veiculo {
  padding: 16px 8px;
  margin: 5px;
  width: 300px;
  height: fit-content;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  min-height: 340px;
}

.veiculo img {
  width: 100%;
}

.modelo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.valorHora {
  font-size: 1.125rem;
  color: #0f62fe;
}

.valorHora span {
  font-size: 1rem;
  color: #8d8d8d;
}

.veiculoDados {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-weight: bold;
  color: #379849;
  font-size: 14px;
  letter-spacing: 0.35px;
  text-align: center;
}

.veiculoMeta span {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: 0.85em;
  margin-bottom: 0.5em;
}

.button button {
  padding: 0;
  text-align: center;
  background-color: #d4db26;
  color: #004a34;
  border-radius: 4px;
  width: 100%;
}

.button button span {
  width: 100%;
}

.button button:hover {
  opacity: 0.9;
  background-color: #d4db26;
  color: #004a34;
}

@media (min-width: 720px) {
  .veiculo,
  .veiculoMeta {
    flex-direction: row;
  }
}
