.veiculo {
  margin: 0.5rem 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.veiculo img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.modelo {
  font-size: 1.5rem;
  font-weight: bold;
}

.valorHora {
  font-size: 1.125rem;
  color: #0f62fe;
}

.valorHora span {
  font-size: 1rem;
  color: #8d8d8d;
}

.veiculoDados {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.veiculoMeta > div {
  width: 100%;
}

.veiculoMeta span {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: 0.85em;
  margin-bottom: 0.5em;
}

.button {
  text-align: right;
}

.veiculoMeta {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 720px) {
  .veiculo,
  .veiculoMeta {
    flex-direction: row;
  }
}
